{% extends 'base.html.twig' %}

{% block title %}Page for connected users!{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <div class="jumbotron">
            <h1 class="display-4">Hello</h1>
            <p class="lead">Only connected users can see this mega secret message.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}" role="button">Go back to home</a>
        </div>
    </div>
{% endblock %}
