{% extends 'base.html.twig' %}

{% block title %}Page for connected users!{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 text-center">
        <p>Hello, just connected users can see this page.</p>
    </div>

{% endblock %}
