{% extends 'base.html.twig' %}

{% block title %}Page pour les utilisateurs connectés !{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 text-center">
        <p>Salut, seuls les utilisateurs connectés peuvent voir cette page.</p>
    </div>

{% endblock %}
