{% extends 'base.html.twig' %}

{% block title %}Qr code!{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Scan this QR Code:</h1>
        <div class="mt-3 mb-3">
            <img width="300" height="300" class="shadow-sm" src="data:image/png;base64,{{ qrCodeImage }}" />
        </div>
        <a class="btn btn-lg btn-primary" href="{{ path('app_security_validate_authentification') }}">Continue</a>
    </div>
{% endblock %}
