{% extends 'base.html.twig' %}

{% block title %}Qr code!{% endblock %}

{% block body %}

<form method="post" class="no-pjax">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="form-group">
            <label for="qrCode">Code de validation</label>
            <input type="text" id="qrCode" name="qrCode" class="form-control" required="required" />
        </div>
        <input type="submit" class="btn btn-primary" value="Confirmer" />
    </div>
</form>
{% endblock %}
