{% extends 'base.html.twig' %}

{% block title %}Qr code!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <div class="container px-0">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}

    <div class="container mt-5 mb-5">
        <h1>Your code validation</h1>
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="qrCode">Received code</label>
                        <input type="text" id="qrCode" name="qrCode" class="form-control form-control-lg" required="required" autofocus />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Confirm" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
