parameters:
    level: max
    tmpDir: var/tools/phpstan
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    paths:
        - bin/
        - public/
        - src/
