{% extends 'base.html.twig' %}

{% block title %}My Super App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container my-4">
        {{ description|raw }}
        <br />
        <div id="root">This will be modified by Javascript</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}