//Bootstrap default overrides
$body-bg: #f8f8f8;
$primary: #6f42c1;
$enable-rounded: false;
$enable-shadows: true;
$card-border-width: 0;
$link-decoration: none;

@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 0;
}

footer {
    margin-top: auto;
}

.navbar {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

footer {
    color: $navbar-dark-color;
}

.card {
    @include box-shadow($box-shadow-sm);
}

.qr-image {
    border-radius: $card-border-radius;
    border: 1px solid $card-border-color;
}
